server:
  port: 8081
spring:
  application:
    name: email-notification-service
  elasticsearch:
    uris: http://localhost:9200
    connection-timeout: 5s
    socket-timeout: 5s
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: email-worker-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.value.default.type: dev.profitsoft.internship.rebrov.block_five.dto.MessageEventDto
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:465}
    username: ${MAIL_USERNAME:email@gmail.com}
    password: ${MAIL_PASSWORD:app-password}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: false
            required: false
          ssl:
            enable: true
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000
logging:
  level:
    root: INFO
    org.springframework.data.elasticsearch.client.WIRE: TRACE
    org.springframework.kafka: INFO
scheduler:
  retry:
    interval: 300000 # 5 Minutes
  max-attempts:
    value: 5